---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About poopnation">
  <main>
    <h1>About poopnation</h1>
    <h2>...my body is a temple of doom!</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
      inventore laudantium tempora nobis voluptate veritatis officiis optio
      architecto hic incidunt. Architecto asperiores voluptas consequatur alias
      illum aspernatur vitae fugiat aut.
    </p>
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>
